.md-textbox {
  position: relative;
}

.md-textbox > input {
  height: 56px;
  width: 260px;
  padding-left: 16px;
  border: 2px solid #888888;
  border-radius: 8px;
  outline: none;
  background: transparent;
  color: #4da57f;
  font-family: inherit;
  font-size: 16px;
}

.md-textbox :is(label) {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
  color: #888888;
  transition: 0.3s;
}

.md-textbox > label {
  left: 10px;
  translate: 0 -50%;
  padding: 4px 8px;
}

.md-textbox > :is(input:focus, .has-value) {
  border-color: #4da57f;
}

.md-textbox > :is(input:focus, .has-value) ~ label {
  background: white;
  color: #4da57f;
  translate: 0 -46px;
}
